name: aslprep
channels:
  - https://fsl.fmrib.ox.ac.uk/fsldownloads/fslconda/public/
  - conda-forge
# Update this ~yearly; last updated Jan 2024
dependencies:
  - python=3.12
  # Needed for svgo and bids-validator; consider moving to deno
  - nodejs=20
  # Intel Math Kernel Library for numpy
  - mkl=2024.2.2
  - mkl-service=2.4.2
  # git-annex for templateflow users with DataLad superdatasets
  - git-annex=*=alldep*
  # Base scientific python stack; required by FSL, so pinned here
  - numpy=2.2
  - scipy=1.15
  - matplotlib=3.10
  - pandas=2.2
  - h5py=3.13
  # Utilities
  - graphviz=12.2
  - pandoc=3.7
  # Workflow dependencies: ANTs
  - ants=2.6
  # Workflow dependencies: FSL (versions pinned in 6.0.7.7)
  - fsl-basil=v4.0.4
  - fsl-bet2=2111.8
  - fsl-flirt=2111.4
  - fsl-fabber_core=4.0.11
  - fsl-fabber_models_asl=v2.0.8
  - fsl-fast4=2111.3
  - fsl-fugue=2201.5
  - fsl-mcflirt=2111.0
  - fsl-miscmaths=2412.4
  - fsl-oxford_asl=v4.0.29
  - fsl-topup=2203.5
  # Templateflow
  - templateflow
  - pip
  # Deep learning dependencies
  - tensorflow=2.19.1
  - pytorch=2.8.0
  - pip:
    - surfa

variables:
  FSLOUTPUTTYPE: NIFTI_GZ
